@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*레이아웃*/
body{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
   user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    background-color: #c4c4c4;

}

main.page{
    width:900px;
    height:400px;
    margin:0 auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding-top: 71px;
}

.selection{
    width:200px;
    height:auto;
    margin:0 auto;
    box-sizing:border-box;
    
}



.selected {
    border:1px solid #c4c4c4;
    width:200px;
    height:40px;
    box-sizing:border-box;
    border-radius: 10px;
    /* padding:12px 63px 12px 14px; */
    position:relative;
  
    
    
    
}

.selected div{
    display:inline-block;
    
}

.selected-value{
    font-size: 14px;
    line-height: 16.41px;
   position:absolute;
   left: 14px;
   top: 12px;
     
}

/*셀렉트 박스*/


label{
    cursor:pointer;
}

input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + label.btn{
    cursor:pointer;
    width: 12px;
    height: 8px;
    background: url(Polygon1.png) no-repeat;
    vertical-align: middle;
    float:right;
    margin: 17px 13px 15px;
    
}

input[type="checkbox"]:checked + label.btn {
    background-image: url(Polygon2.png)
}


/*드랍다운 박스*/

ul{
    list-style-type: none;
    padding-left:0;
    font-family: inherit;
}

ul.list{
    font-family: inherit;
    width:200px;
    height:auto;
    margin: 0;
    margin-top: 9px; /*height, margin값 없어도 되는지 check 하기 */
    border:1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius:10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: none;
}

.list li{
    font-size: 14px;
    font-weight: 400; 
    line-height: 16.41px;
    padding: 7px 10px;
    margin : 5px 8px;
    /* border:1px solid salmon; */
    border-radius: 8px;
}

.python{
    margin-top: 4px;
}
.c-plus{
    margin-bottom: 4px;
}

.list li:hover{
    background-color:#f8e4ff;
}
